---
import { Font } from "astro:assets";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Shahi Online Quran Academy - Learn Quran Online</title>
  <meta
    name="google-site-verification"
    content="ParKsNMB-1fTPiJkx8izeLgyFqP_hXCVmIIkcYqinkU"
  />
  <meta
    name="description"
    content="Shahi Online Quran Academy provides interactive online Quran classes for all ages, offering expert tutors, flexible schedules, and personalized lessons. Learn Quran recitation, Tajweed, and memorization from home."
  />
  <meta
    name="keywords"
    content="Quran, Islamic education, online Quran classes, learn Quran, Tajweed, Quran memorization"
  />
  <meta name="author" content="Quran Class" />
  <link rel="canonical" href="https://shahiquranacademy.github.io/" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://shahiquranacademy.github.io/" />
  <meta
    property="og:title"
    content="Shahi Online Quran Academy - Learn Quran Online"
  />
  <meta
    property="og:description"
    content="Shahi Online Quran Academy provides interactive online Quran classes for all ages, offering expert tutors, flexible schedules, and personalized lessons. Learn Quran recitation, Tajweed, and memorization from home."
  />
  <meta
    property="og:image"
    content="https://shahiquranacademy.github.io/favicon.svg"
  />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://shahiquranacademy.github.io/" />
  <meta
    property="twitter:title"
    content="Shahi Online Quran Academy - Learn Quran Online"
  />
  <meta
    property="twitter:description"
    content="Shahi Online Quran Academy provides interactive online Quran classes for all ages, offering expert tutors, flexible schedules, and personalized lessons. Learn Quran recitation, Tajweed, and memorization from home."
  />
  <meta
    property="twitter:image"
    content="https://shahiquranacademy.github.io/favicon.svg"
  />
  <Font cssVariable="--font-montserrat" preload />
</head>

<style>
  body {
    font-family: var(--font-roboto);
  }
</style>
